
.icon-play:before { content: '\e800'; } /* '' */
.icon-sort:before { content: '\f0dc'; } /* '' */
.icon-stethoscope:before { content: '\f0f1'; } /* '' */
.icon-tablet:before { content: '\f10a'; } /* '' */
.icon-crop:before { content: '\f125'; } /* '' */
.icon-try:before { content: '\f195'; } /* '' */
